<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/style_light.css">
    <link rel="preload" href="static/css/style_light.css" as="style">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>LexIt-Cloud Add project</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <!-- jQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="static/script/meteo.js"></script>
    <link href="static/icons/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="static/icons/fontawesome/css/all.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/icons/alpagam_logo.ico" type="image/x-icon" sizes="16x16">
    <script src="static/script/languages.js"></script>
</head>

<body>
    <nav class="fixed-top my-navbar">
        <div class="brand-container">
            <div class="brand-background">
                <img src="/static/icons/alpagam_logo_wbg.jpg" alt="Alpagam" class="logo">
                <a class="brand" href="/">LexIt</a>
            </div>
        </div>
        <div class="my-navbar-content">
            <div class="my-navbar-content-left">

                <a class="my-nav-link" aria-current="page" data-bs-toggle="offcanvas" href="#app" role="button"
                    aria-expanded="false" aria-controls="app">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-menu">
                        <line x1="3" y1="12" x2="21" y2="12"></line>
                        <line x1="3" y1="6" x2="21" y2="6"></line>
                        <line x1="3" y1="18" x2="21" y2="18"></line>
                    </svg>
                    <label class="my-nav-link-label">App</label>
                </a>

                <!-- add an offcanvas here named app -->

                <a class="my-nav-link" href="{{routes.gitlab}}">
                    <i class="fab fa-git-alt fa-lg navicon"></i>
                    <label class="my-nav-link-label">Gitlab</label>
                </a>
                <li class="my-nav-link dropdown">
                    <a class="my-nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fab fa-linkedin-in fa-lg navicon"></i>
                        <label class="my-nav-link-label">Social</label>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{{routes.linkedin}}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-linkedin">
                                    <path
                                        d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z">
                                    </path>
                                    <rect x="2" y="9" width="4" height="12"></rect>
                                    <circle cx="4" cy="4" r="2"></circle>
                                </svg>
                                Linkedin</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{routes.instagram}}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-instagram">
                                    <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                                    <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                                    <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                                </svg>
                                Instagram</a>
                        </li>
                    </ul>
                </li>
                <li class="my-nav-link dropdown">
                    <a class="my-nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-share-2">
                            <circle cx="18" cy="5" r="3"></circle>
                            <circle cx="6" cy="12" r="3"></circle>
                            <circle cx="18" cy="19" r="3"></circle>
                            <line x1="8.59" y1="13.51" x2="15.42" y2="17.49"></line>
                            <line x1="15.41" y1="6.51" x2="8.59" y2="10.49"></line>
                        </svg>
                        <label class="my-nav-link-label">Projects</label>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/projects">All projects</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/computer">Computer science</a></li>
                        <li><a class="dropdown-item" href="/robotics">Robotics</a></li>
                        <li><a class="dropdown-item" href="/personal">Personal</a></li>
                        <li><a class="dropdown-item" href="/work">Work</a></li>
                        {%if role == "admin"%}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="/addproject">
                                <i class="fa-solid fa-circle-plus"></i>
                                add project
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/updateproject">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-edit-3">
                                    <path d="M12 20h9"></path>
                                    <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path>
                                </svg>
                                update project
                            </a>
                        </li>
                        {%endif%}
                    </ul>
                </li>

                <a class="my-nav-link" href="/resume">
                    <i class="far fa-file fa-lg navicon"></i>
                    <label class="my-nav-link-label">About_me</label>
                </a>
            </div>

            <div class="my-navbar-content-center">
                <div class="search-bar">
                    <form class="search-form" id="question-form" role="search">
                        <div class="bot-icon-container">
                            <i class="fa-solid fa-comments fa-lg"></i>
                        </div>
                        <input type="text" class="search-input" placeholder="Something to ask?" aria-label="Search"
                            id="question-nav" name="question">
                        <button class="send-question" type="submit" id="open-chat" onclick="sendNavRequest(document)">
                            <i class="fa-regular fa-paper-plane"></i>
                        </button>
                    </form>
                </div>
            </div>
            <div class="my-navbar-content-switch">
                <div class="dark-mode-switch">
                    <input type="checkbox" class="checkbox" id="checkbox">
                    <label for="checkbox" class="checkbox-label">
                        <i class="fas fa-moon"></i>
                        <i class="fas fa-sun"></i>
                        <span class="ball"></span>
                    </label>
                </div>

                <script>
                    var darkModeSwitch = document.getElementById('checkbox');
                    var body = document.getElementsByTagName('body')[0];
                    var darkModeCSS = document.createElement('link');

                    darkModeCSS.rel = 'stylesheet';
                    darkModeCSS.href = '/static/css/style_dark.css';

                    // Check for saved preference on page load
                    if (localStorage.getItem('darkMode') === 'enabled') {
                        darkModeSwitch.checked = true;
                        body.classList.add('dark-mode');
                        document.head.appendChild(darkModeCSS);
                    }

                    darkModeSwitch.addEventListener('click', function () {
                        if (darkModeSwitch.checked) {
                            localStorage.setItem('darkMode', 'enabled'); // Store preference
                            body.classList.add('dark-mode');
                            document.head.appendChild(darkModeCSS);
                        } else {
                            localStorage.setItem('darkMode', 'disabled'); // Store preference
                            body.classList.remove('dark-mode');
                            document.head.removeChild(darkModeCSS);
                        }
                    });
                </script>
            </div>
            <div class="my-navbar-content-right">
                {%if logged_in == True%}
                {%if role == "admin"%}
                <a class="my-nav-link" href="/admin">
                    <i class="fa-regular fa-rectangle-list navicon"></i>
                    <label class="my-nav-link-label">Admin</label>
                </a>
                {%endif%}
                <a class="my-nav-link-profile" href="/profile">
                    {% if profile_image_path %}
                    <img src="{{ profile_image_path }}" alt="Profile Image" class="profile-image-nav">
                    {% else %}
                    <img src="/static/images/default_image.svg" alt="Default Profile Picture" class="profile-image-nav">
                    {% endif %}
                </a>
                {%else%}
                <a class="my-nav-link" href="/login">
                    <i class="fa-regular fa-circle-user navicon"></i>
                    <label class="my-nav-link-label">Login</label>
                </a>
                {%endif%}
            </div>
        </div>
    </nav>
    <!-- end of navbar -->
    <!-- add an offcanvas here named app -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="app" aria-labelledby="appLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="appLabel">LexIt App</h5>
            <button type="button" class="offcanvas-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"><i
                    class="offcanvas-close-icon fa-regular fa-circle-left fa-xl"></i></button>
        </div>
        <div class="offcanvas-body">
            <ul class="nav nav-pills flex-column mb-auto">
                <li>
                    <a href="{{routes.personal_gitlab}}" class="my-nav-link-off">
                        <i class="fa-brands fa-gitlab"></i>
                        <label class="my-nav-link-label">Gitlab</label>
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a href="{{routes.cloud_arpanode}}" class="my-nav-link-off">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-upload-cloud">
                            <polyline points="16 16 12 12 8 16"></polyline>
                            <line x1="12" y1="12" x2="12" y2="21"></line>
                            <path d="M20.39 18.39A5 5 0 0 0 18 9h-1.26A8 8 0 1 0 3 16.3"></path>
                            <polyline points="16 16 12 12 8 16"></polyline>
                        </svg>
                        <label class="my-nav-link-label">Cloud</label>
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>

                    <a href="{{routes.mattermost_arpanode}}" class="my-nav-link-off">
                        <i class="fa-sharp fa-regular fa-comments"></i>
                        <label class="my-nav-link-label">Mattermost</label>
                    </a>

                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a href="{{routes.markdownify}}" class="my-nav-link-off">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"/><polyline points="14 2 14 8 20 8"/><line x1="16" y1="13" x2="8" y2="13"/><line x1="16" y1="17" x2="8" y2="17"/><polyline points="10 9 9 9 8 9"/></svg>
                        <label class="my-nav-link-label">Markdownify</label>
                    </a>
                </li>
                            <li>
                    <hr class="dropdown-divider">
                </li>
                <li>

                    <a href="{{routes.artemis}}" class="my-nav-link-off">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-monitor"><rect x="2" y="3" width="20" height="14" rx="2" ry="2"/><line x1="8" y1="21" x2="16" y2="21"/><line x1="12" y1="17" x2="12" y2="21"/></svg>
                        <label class="my-nav-link-label">Artemis</label>
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    {%if logged_in == True%}

                    <a href="{{routes.monitoring}}" class="my-nav-link-off">
                        <div class="left-navoff-part">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-activity">
                                <polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline>
                            </svg>
                            <label class="my-nav-link-label">Monitoring</label>
                        </div>
                        <div class="right-navoff-part">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-unlock">
                                <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                                <path d="M7 11V7a5 5 0 0 1 9.9-1"></path>
                            </svg>
                        </div>
                    </a>

                    {%else%}
                    <a href="/login" class="my-nav-link-off"
                        onclick="return confirm('To access netdata, admin rights are required. Would you like to logs in?');">
                        <div class="left-navoff-part">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-activity">
                                <polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline>
                            </svg>
                            <label class="my-nav-link-label">Monitoring</label>
                        </div>
                        <div class="right-navoff-part">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-lock">
                                <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                                <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                            </svg>
                        </div>
                    </a>
                    {%endif%}
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    {%if logged_in == True%}
                    <a href="{{routes.tensorboard}}" class="my-nav-link-off">
                        <div class="left-navoff-part">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-pie-chart">
                                <path d="M21.21 15.89A10 10 0 1 1 8 2.83"></path>
                                <path d="M22 12A10 10 0 0 0 12 2v10z"></path>
                            </svg>
                            <label class="my-nav-link-label">Tensorboard</label>
                        </div>
                        <div class="right-navoff-part">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-unlock">
                                <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                                <path d="M7 11V7a5 5 0 0 1 9.9-1"></path>
                            </svg>
                        </div>
                    </a>
                    {% else %}
                    <a href="/login" class="my-nav-link-off"
                        onclick="return confirm('To access TensorBoard, admin rights are required. Would you like to logs in ?');">
                        <div class="left-navoff-part">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-pie-chart">
                                <path d="M21.21 15.89A10 10 0 1 1 8 2.83"></path>
                                <path d="M22 12A10 10 0 0 0 12 2v10z"></path>
                            </svg>
                            <label class="my-nav-link-label">Tensorboard</label>
                        </div>
                        <div class="right-navoff-part">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-lock">
                                <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                                <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                            </svg>
                        </div>
                    </a>
                    {% endif %}
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a href="{{routes.trello}}" class="my-nav-link-off">
                        <i class="fa-brands fa-trello"></i>
                        <label class="my-nav-link-label">Trello</label>
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
            </ul>
        </div>
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="appLabel">Ynov App</h5>
        </div>
        <div class="offcanvas-body">
            <ul class="nav nav-pills flex-column mb-auto">
                {%if logged_in == True%}
                <li>
                    <a href="{{routes.extranet}}" class="my-nav-link-off">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-home">
                            <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                            <polyline points="9 22 9 12 15 12 15 22"></polyline>
                        </svg>
                        <label class="my-nav-link-label">Extranet</label>
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a href="{{routes.hyperplanning}}" class="my-nav-link-off">
                        <i class="fa-regular fa-calendar"></i>
                        <label class="my-nav-link-label">Planning</label>
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a href="{{routes.ydays}}" class="my-nav-link-off">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-cpu">
                            <rect x="4" y="4" width="16" height="16" rx="2" ry="2"></rect>
                            <rect x="9" y="9" width="6" height="6"></rect>
                            <line x1="9" y1="1" x2="9" y2="4"></line>
                            <line x1="15" y1="1" x2="15" y2="4"></line>
                            <line x1="9" y1="20" x2="9" y2="23"></line>
                            <line x1="15" y1="20" x2="15" y2="23"></line>
                            <line x1="20" y1="9" x2="23" y2="9"></line>
                            <line x1="20" y1="14" x2="23" y2="14"></line>
                            <line x1="1" y1="9" x2="4" y2="9"></line>
                            <line x1="1" y1="14" x2="4" y2="14"></line>
                        </svg>
                        <label class="my-nav-link-label">Ydays</label>
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a href="{{routes.ymatch}}" class="my-nav-link-off">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-briefcase">
                            <rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect>
                            <path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path>
                        </svg>
                        <label class="my-nav-link-label">Ymatch</label>
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a href="{{routes.outlook}}" class="my-nav-link-off">
                        <i class="fa-regular fa-envelope fa-lg"></i>
                        <label class="my-nav-link-label">Outlook</label>
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                {%else%}
                <li>
                    <a href="/login" class="my-nav-link-off"
                        onclick="return confirm('To access Extranet, user rights are required. Would you like to logs in ?');">
                        <div class="left-navoff-part">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-pie-chart">
                                <path d="M21.21 15.89A10 10 0 1 1 8 2.83"></path>
                                <path d="M22 12A10 10 0 0 0 12 2v10z"></path>
                            </svg>
                            <label class="my-nav-link-label">Extranet</label>
                        </div>
                        <div class="right-navoff-part">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-lock">
                                <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                                <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                            </svg>
                        </div>
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a href="/login" class="my-nav-link-off"
                        onclick="return confirm('To access HyperPlanning user rights are required. Would you like to logs in ?');">
                        <div class="left-navoff-part">
                            <i class="fa-regular fa-calendar"></i>
                            <label class="my-nav-link-label">HyperPlanning</label>
                        </div>
                        <div class="right-navoff-part">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-lock">
                                <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                                <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                            </svg>
                        </div>
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a href="/login" class="my-nav-link-off"
                        onclick="return confirm('To access YDays, admin rights are required. Would you like to logs in ?');">
                        <div class="left-navoff-part">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-cpu">
                                <rect x="4" y="4" width="16" height="16" rx="2" ry="2"></rect>
                                <rect x="9" y="9" width="6" height="6"></rect>
                                <line x1="9" y1="1" x2="9" y2="4"></line>
                                <line x1="15" y1="1" x2="15" y2="4"></line>
                                <line x1="9" y1="20" x2="9" y2="23"></line>
                                <line x1="15" y1="20" x2="15" y2="23"></line>
                                <line x1="20" y1="9" x2="23" y2="9"></line>
                                <line x1="20" y1="14" x2="23" y2="14"></line>
                                <line x1="1" y1="9" x2="4" y2="9"></line>
                                <line x1="1" y1="14" x2="4" y2="14"></line>
                            </svg>
                            <label class="my-nav-link-label">YDays</label>
                        </div>
                        <div class="right-navoff-part">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-lock">
                                <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                                <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                            </svg>
                        </div>
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a href="/login" class="my-nav-link-off"
                        onclick="return confirm('To access ymatch, admin rights are required. Would you like to logs in ?');">
                        <div class="left-navoff-part">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-briefcase">
                                <rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect>
                                <path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path>
                            </svg>
                            <label class="my-nav-link-label">Ymatch</label>
                        </div>
                        <div class="right-navoff-part">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-lock">
                                <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                                <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                            </svg>
                        </div>
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                {%endif%}
            </ul>
        </div>
    </div>
    <!-- end of offcanvas  -->
    <!-- start of main -->
    <div class="container-project">
        <!-- start of container -->
        <!-- start of flash messages -->
        <div class="alert_container">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{category}} alert-dismissible fade show animated animate__bounceInDown mb-2 hide"
                role="alert" style="width: 300px;" data-auto-dismiss="3000">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}
            <script>
                const alerts = document.querySelectorAll('.alert[data-auto-dismiss]')
                alerts.forEach(alert => {
                    const autoDismissTime = parseInt(alert.getAttribute('data-auto-dismiss'))
                    if (!isNaN(autoDismissTime)) {
                        setTimeout(() => {
                            alert.classList.add('animate__fadeOutUp');
                            alert.addEventListener('animationend', () => {
                                alert.classList.remove('show'); // remove 'show' class after animation completes
                                alert.remove();
                            });
                        }, autoDismissTime)
                    }
                })
            </script>
            {% endwith %}
        </div>
        <!-- end of flash messages -->
        <!-- modal chat -->
        <div id="chat-modal" class="modal">
            <div class="chat-container">
                <span class="close">&times;</span>
                <div class="chat-header d-flex justify-content-between align-items-center">
                    <h4 class="chat-title">A.C.E bot</h4>
                </div>
                <div class="chat-body">
                    <div class="chat-text">
                        <div class="text-center" id="talks"></div>
                    </div>
                    <form method="post" class="chat-form">
                        <div class="form-group">
                            <input type="text" class="form-control" id="question-modal" name="question"
                                placeholder="Something else ?">
                        </div>
                        <button type="submit" id="send-btn" class="btn btn-primary btn-block"
                            onclick="sendModalRequest(document)"
                            style="display: flex; align-items: center; justify-content: center;">
                            Send
                            <div id="spinner" style="display: none; margin-left: 5px;">
                                <svg width="18" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <rect class="spinner_9y7u" x="1" y="1" rx="1" width="10" height="10" />
                                    <rect class="spinner_9y7u spinner_DF2s" x="1" y="1" rx="1" width="10" height="10" />
                                    <rect class="spinner_9y7u spinner_q27e" x="1" y="1" rx="1" width="10" height="10" />
                                </svg>
                            </div>
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            const modal = document.getElementById('chat-modal');
            const openButton = document.getElementById('open-chat');
            const closeButton = document.getElementsByClassName('close')[0];
            const conversation = [];
            let isButtonDisabled = false;
            closeButton.onclick = function () {
                modal.style.display = 'none';
            };
            $('#question-form').submit(function (event) {
                event.preventDefault();
            });
            $('.chat-form').submit(function (event) {
                event.preventDefault();
            });


            function sendAjaxRequest(question) {
                return new Promise(function (resolve, reject) {
                    // send ajax request at /generate
                    var spiner = document.getElementById("spinner");
                    var sendBtn = document.getElementById("send-btn");

                    // display spinner
                    spiner.style.display = 'block';
                    // disable send button
                    disableSendButton();

                    $.ajax({
                        type: 'POST',
                        url: '/generate',
                        data: { question: question },
                        dataType: 'json',
                        success: function (response) {
                            spiner.style.display = 'none';
                            enableSendButton(); // Enable the send button after a successful response
                            resolve(response.response);
                        },
                        error: function (xhr) {
                            spiner.style.display = 'none';
                            if (xhr.status === 429) {
                                reject("Too many requests. Please try again later. You can try again in 30 seconds.");
                            } else {
                                reject("Something went wrong. Please try again later.");
                            }
                        }
                    });
                });
            }

            function sendModalRequest() {
                if (isButtonDisabled) {
                    return; // Do nothing if the button is disabled
                }
                var input = document.getElementById("question-modal");
                var question = document.getElementById("question-modal").value;
                addQuestion(question);

                sendAjaxRequest(question)
                    .then(function (response) {
                        addResponse(response);
                    })
                    .catch(function (error) {
                        addResponse(error)
                    });

                // clear input
                input.value = "";
            }

            function sendNavRequest() {
                if (isButtonDisabled) {
                    return; // Do nothing if the button is disabled
                }
                modal.style.display = 'block';
                var navInput = document.getElementById("question-nav");
                var question = document.getElementById("question-nav").value;
                addQuestion(question);

                sendAjaxRequest(question)
                    .then(function (response) {
                        addResponse(response);
                    })
                    .catch(function (error) {
                        addResponse(error)
                    });

                // clear input
                navInput.value = "";
            }
            function addQuestion(question) {
                if (question == "") {
                    question = "...";
                }
                const userMessage = {
                    sender: 'user',
                    text: question
                };
                conversation.push(userMessage);
                const talks = document.getElementById("talks");
                const userMessageElement = document.createElement('div');
                userMessageElement.classList.add('chat-message', 'user');
                userMessageElement.innerHTML = userMessage.text;
                talks.appendChild(userMessageElement);
                setLastMessageDiv();
                scrollToLastMessage();
            }
            function addResponse(response) {
                if (response == "") {
                    response = "Sorry, I didn't understand your question.";
                }
                const botMessage = {
                    sender: 'bot',
                    text: response
                };
                conversation.push(botMessage);
                const talks = document.getElementById("talks");
                const botMessageElement = document.createElement('div');
                botMessageElement.classList.add('chat-message', 'bot');
                botMessageElement.innerHTML = botMessage.text;
                talks.appendChild(botMessageElement);
                setLastMessageDiv();
                scrollToLastMessage();
            }
            function setLastMessageDiv() {
                var oldLastMessageDiv = document.getElementById("last-message");
                if (oldLastMessageDiv != null) {
                    oldLastMessageDiv.id = "";
                }
                var talks = document.getElementById("talks");
                var lastMessageDiv = talks.lastElementChild;
                lastMessageDiv.id = "last-message";
            }

            function scrollToLastMessage() {
                const lastMessageDiv = document.getElementById("last-message");
                lastMessageDiv.scrollIntoView({ behavior: 'smooth', block: 'nearest', inline: 'start' });
            }
            function disableSendButton() {
                isButtonDisabled = true;
                var sendBtn = document.getElementById("send-btn");
                sendBtn.disabled = true;

                // Enable the button after 30 seconds
                setTimeout(function () {
                    isButtonDisabled = false;
                    sendBtn.disabled = false;
                }, 30000); // 30 seconds in milliseconds
            }
            function enableSendButton() {
                isButtonDisabled = false;
                var sendBtn = document.getElementById("send-btn");
                sendBtn.disabled = false;
            }

        </script>
        <!-- end of chat -->
        <!-- form add project-->
        <div class="addproject-container">
            <title>Add Project</title>
            <script>
                function previewImage(event) {
                    const preview = document.getElementById('project-image-preview');
                    const file = event.target.files[0];
                    const reader = new FileReader();

                    reader.onloadend = function () {
                        preview.src = reader.result;
                    }

                    if (file) {
                        reader.readAsDataURL(file);
                    } else {
                        preview.src = "/static/images/pics_ecran.webp";
                    }
                }
            </script>

            <form action="/addproject" method="post" class="project-form" enctype="multipart/form-data">
                <div class="project-form-mainImage">
                    <div class="project-image-container">
                        <img src="/static/images/pics_ecran.webp" alt="name" id="project-image-preview">
                    </div>
                    <div class="project-form-mainImage-input">
                        <label for="project_main_image">Project Main Image:</label>
                        <input type="file" id="project_main_image" name="project_main_image" accept="image/*"
                            onchange="previewImage(event)" class="file-input">
                    </div>
                </div>

                <div class="title-div">
                    <label for="project_title">Project Title:</label>
                    <input class="input-text" type="text" id="project_title" name="project_title"
                        placeholder="My awsome project">
                </div>

                <div class="git-div">
                    <label for="gitlab_link">GitLab Link:</label>
                    <input class="input-text" type="url" id="gitlab_link" name="gitlab_link"
                        placeholder="https://gitlab.com/your-repository" required>
                </div>

                <div class="select-group">
                    <div class="select-div">
                        <label for="team-size">Team Size:</label>
                        <input type="number" id="team-size" name="team-size" min="1" max="100" value="1"
                            class="team-size-select">
                    </div>
                    <div class="select-div">
                        <label for="project_type">Project Type</label>
                        <select id="project_type" name="project_type">
                            <option value="computer_science">Computer Science</option>
                            <option value="robotics">Robotics</option>
                            <option value="personal">Personal</option>
                            <option value="work">Work</option>
                        </select>
                    </div>
                    <div class="select-div">
                        <label>Active Indicator</label>
                        <select name="active_indicator">
                            <option value="inactive">Inactive</option>
                            <option value="in_pause">In Pause</option>
                            <option value="active">Active</option>
                            <option value="ended">Ended</option>
                        </select>
                    </div>
                    <div class="select-div">
                        <label for="team-role">Team Role</label>
                        <select id="team-role" name="team_role">
                            <option value="developer">Developer</option>
                            <option value="co-manager">Co-Manager</option>
                            <option value="manager">Manager</option>
                        </select>
                    </div>
                </div>

                <div class="description-div">
                    <label for="description">Description:</label>
                    <textarea id="description" name="description" class="text-aera"></textarea>
                </div>

                <div class="media-group">
                    <div class="media-div">
                        <label for="images_list">Images List:</label>
                        <input type="file" id="images_list" name="images_list" accept="image/*" multiple>
                    </div>
                    <div class="media-div">
                        <label for="movie_list">Movie List:</label>
                        <input type="file" id="movies_list" name="movies_list" accept="video/*" multiple>
                    </div>
                </div>

                <div class="create-parts-group">
                    <div class="create-parts-div">
                        <label for="num-parts">Number of Parts:</label>
                        <input type="number" id="num-parts" name="num-parts" min="1" max="100">
                    </div>
                    <div class="create-parts-div">
                        <button class="create-parts-button" type="button" onclick="createParts()">
                            <i class="fa-solid fa-paragraph"></i>
                            Create Parts
                        </button>
                    </div>
                </div>

                <div id="parts-container" class="parts-container"></div>
                <div class="conclusion-div">
                    <label for="project-conclusion">Project Conclusion:</label>
                    <textarea id="project-conclusion" name="project-conclusion" class="text-aera"></textarea>
                </div>
                <input type="submit" value="Submit" class="submit-button">
            </form>

            <script>
                function createPart() {
                    var partsContainer = document.getElementById("parts-container");
                    var numParts = partsContainer.querySelectorAll(".part").length;
                    var part = document.createElement("div");
                    part.classList.add("part");
                    var button = document.createElement("button");
                    button.type = "button";
                    button.classList.add("collapsible");
                    button.addEventListener("click", function () {
                        this.classList.toggle("active");
                        var content = this.nextElementSibling;
                        if (content.style.maxHeight) {
                            content.style.maxHeight = null;
                        } else {
                            content.style.maxHeight = content.scrollHeight + "px";
                        }
                    });
                    button.innerHTML = "Part " + (numParts + 1);
                    part.appendChild(button);

                    var content = document.createElement("div");
                    content.classList.add("content");

                    var buttonsContainer = document.createElement("div");
                    buttonsContainer.classList.add("buttons-container");

                    // ------------------------------
                    // remove part button
                    // ------------------------------
                    var removeButton = document.createElement("button");
                    removeButton.type = "button";
                    removeButton.classList.add("remove-button");
                    removeButton.innerHTML = '<i class="fa-solid fa-trash"></i>';
                    // remove the part and the button
                    removeButton.addEventListener("click", function () {
                        if (confirm("Are you sure you want to remove this part?")) {
                            var partToRemove = this.parentNode.parentNode; // get the "part" div to remove
                            partToRemove.parentNode.removeChild(partToRemove); // remove the "part" div
                            updatePartIds(); // update the ids of the parts
                            // remove 1 from the num-parts input
                            document.getElementById("num-parts").value = parseInt(document.getElementById("num-parts").value) - 1;
                        }

                    });
                    buttonsContainer.appendChild(removeButton);
                    // ------------------------------
                    // add part button
                    // ------------------------------
                    var addPartButton = document.createElement("button");
                    addPartButton.type = "button";
                    addPartButton.innerHTML = '<i class="fa-solid fa-arrows-down-to-line"></i> Add Part';
                    addPartButton.classList.add("submit-button");
                    addPartButton.addEventListener("click", function () {
                        createPart();
                        updatePartIds();
                        // add 1 to the num-parts input
                        document.getElementById("num-parts").value = parseInt(document.getElementById("num-parts").value) + 1;
                    });
                    buttonsContainer.appendChild(addPartButton);

                    content.appendChild(buttonsContainer);
                    // ------------------------------


                    // title
                    //---------------------------------------------
                    var titleGroup = document.createElement("div");
                    titleGroup.classList.add("title-div");

                    var titleLabel = document.createElement("label");
                    titleLabel.setAttribute("for", "part" + (numParts + 1) + "-title");
                    titleLabel.innerHTML = "Title:";
                    titleGroup.appendChild(titleLabel);

                    var titleInput = document.createElement("input");
                    titleInput.setAttribute("type", "text");
                    titleInput.classList.add("input-text");
                    titleInput.setAttribute("id", "part" + (numParts + 1) + "-title");
                    titleInput.setAttribute("name", "part" + (numParts + 1) + "-title");
                    titleInput.setAttribute("placeholder", "Part " + (numParts + 1) + " Title");
                    titleGroup.appendChild(titleInput);

                    content.appendChild(titleGroup);
                    //---------------------------------------------
                    // description
                    //---------------------------------------------
                    var descGroup = document.createElement("div");
                    descGroup.classList.add("description-div");

                    var descLabel = document.createElement("label");
                    descLabel.setAttribute("for", "part" + (numParts + 1) + "-description");
                    descLabel.innerHTML = "Description:";
                    descGroup.appendChild(descLabel);

                    var descInput = document.createElement("textarea");
                    descInput.setAttribute("id", "part" + (numParts + 1) + "-description");
                    descInput.setAttribute("name", "part" + (numParts + 1) + "-description");
                    descInput.setAttribute("placeholder", "Part " + (numParts + 1) + " Description");
                    descInput.classList.add("text-aera");
                    descGroup.appendChild(descInput);

                    content.appendChild(descGroup);
                    //---------------------------------------------
                    // images
                    //---------------------------------------------
                    var mediaDiv = document.createElement("div");
                    mediaDiv.classList.add("media-div");

                    var imgLabel = document.createElement("label");
                    imgLabel.setAttribute("for", "part" + (numParts + 1) + "-images");
                    imgLabel.innerHTML = "Part " + (numParts + 1) + " Images:";
                    mediaDiv.appendChild(imgLabel);

                    var imgInput = document.createElement("input");
                    imgInput.setAttribute("type", "file");
                    imgInput.setAttribute("id", "part" + (numParts + 1) + "-images");
                    imgInput.setAttribute("name", "part" + (numParts + 1) + "-images");
                    imgInput.setAttribute("accept", "image/*");
                    imgInput.setAttribute("multiple", "");
                    mediaDiv.appendChild(imgInput);

                    content.appendChild(mediaDiv);
                    //---------------------------------------------
                    // code
                    //---------------------------------------------
                    var codeDiv = document.createElement("div");
                    codeDiv.classList.add("code-div");

                    var addcodeLabel = document.createElement("label");
                    addcodeLabel.setAttribute("for", "part" + (numParts + 1) + "-addcode");
                    addcodeLabel.innerHTML = "Part " + (numParts + 1) + " Code:";
                    codeDiv.appendChild(addcodeLabel);
                    var codeLang = document.createElement("select");
                    codeLang.setAttribute("id", "part" + (numParts + 1) + "-addcode-lang");
                    codeLang.setAttribute("name", "part" + (numParts + 1) + "-addcode-lang");

                    for (const language in languages) {
                        const option = document.createElement("option");
                        option.setAttribute("value", languages[language][0]);
                        option.textContent = language;
                        codeLang.appendChild(option);
                        if (languages[language][0] === 'python') {  // Assuming 'python' has ID 216
                            option.setAttribute("selected", "selected");
                        }
                    }
                    codeDiv.appendChild(codeLang);

                    var addcodeInput = document.createElement("textarea");
                    addcodeInput.setAttribute("id", "part" + (numParts + 1) + "-addcode");
                    addcodeInput.setAttribute("name", "part" + (numParts + 1) + "-addcode");
                    addcodeInput.classList.add("text-aera");
                    codeDiv.appendChild(addcodeInput);

                    content.appendChild(codeDiv);
                    // ------------------------------
                    // conclusion
                    // ------------------------------
                    var conclusionDiv = document.createElement("div");
                    conclusionDiv.classList.add("conclusion-div");

                    var conclusionLabel = document.createElement("label");
                    conclusionLabel.setAttribute("for", "part" + (numParts + 1) + "-conclusion");
                    conclusionLabel.innerHTML = "Conclusion:";
                    conclusionDiv.appendChild(conclusionLabel);

                    var conclusionInput = document.createElement("textarea");
                    conclusionInput.setAttribute("id", "part" + (numParts + 1) + "-conclusion");
                    conclusionInput.setAttribute("name", "part" + (numParts + 1) + "-conclusion");
                    conclusionInput.setAttribute("placeholder", "Part " + (numParts + 1) + " Conclusion");
                    conclusionInput.classList.add("text-aera");
                    conclusionDiv.appendChild(conclusionInput);

                    content.appendChild(conclusionDiv);

                    // add the part to the parts container
                    part.appendChild(content);
                    partsContainer.appendChild(part);
                }

                function createParts() {
                    var numParts = document.getElementById("num-parts").value;
                    // reset num-parts input
                    document.getElementById("num-parts").value = 0;
                    var partsContainer = document.getElementById("parts-container");
                    partsContainer.innerHTML = "";

                    for (i = 1; i <= numParts; i++) {
                        createPart();
                        // update num-parts input
                        document.getElementById("num-parts").value = i;
                    }
                }
                // update the ids of the parts and there labels
                function updatePartIds() {
                    var parts = document.getElementsByClassName("part");
                    for (var i = 0; i < parts.length; i++) {
                        var part = parts[i];
                        var partId = i + 1;
                        part.id = "part" + partId;

                        var button = part.getElementsByClassName("collapsible")[0];
                        button.innerHTML = "Part " + partId + " - Title";

                        var content = part.getElementsByClassName("content")[0];

                        var titleLabel = content.getElementsByTagName("label")[0];
                        titleLabel.setAttribute("for", "part" + partId + "-title");
                        titleLabel.innerHTML = "Title:";
                        var titleInput = content.getElementsByTagName("input")[0];
                        titleInput.setAttribute("id", "part" + partId + "-title");
                        titleInput.setAttribute("name", "part" + partId + "-title");

                        var descLabel = content.getElementsByTagName("label")[1];
                        descLabel.setAttribute("for", "part" + partId + "-description");
                        descLabel.innerHTML = "Description:";
                        var descInput = content.getElementsByTagName("textarea")[0];
                        descInput.setAttribute("id", "part" + partId + "-description");
                        descInput.setAttribute("name", "part" + partId + "-description");

                        var imgLabel = content.getElementsByTagName("label")[2];
                        imgLabel.setAttribute("for", "part" + partId + "-images");
                        imgLabel.innerHTML = "Part " + partId + " Images:";
                        var imgInput = content.getElementsByTagName("input")[1];
                        imgInput.setAttribute("id", "part" + partId + "-images");
                        imgInput.setAttribute("name", "part" + partId + "-images");



                        var addcodeLabel = content.getElementsByTagName("label")[3];
                        addcodeLabel.setAttribute("for", "part" + partId + "-addcode");
                        addcodeLabel.innerHTML = "Part " + partId + " Code:";
                        var addcodeInput = content.getElementsByTagName("textarea")[1];
                        addcodeInput.setAttribute("id", "part" + partId + "-addcode");
                        addcodeInput.setAttribute("name", "part" + partId + "-addcode");

                        var conclusionLabel = content.getElementsByTagName("label")[4];
                        conclusionLabel.setAttribute("for", "part" + partId + "-conclusion");
                        conclusionLabel.innerHTML = "Conclusion:";
                        var conclusionInput = content.getElementsByTagName("textarea")[2];
                        conclusionInput.setAttribute("id", "part" + partId + "-conclusion");
                        conclusionInput.setAttribute("name", "part" + partId + "-conclusion");
                    }
                }
            </script>
            <!-- end of form add project-->
        </div>
        <!-- end of main container-->
        <!-- footer -->
</body>

</html>