/* styles_dark.css */
/* Path: static/css/style_dark.css */

@font-face {
    font-family: 'aquire-Font';
    src: url('/static/font/aquire-font/AquireBold-8Ma60.otf');
}

@font-face {
    font-family: 'Montserrat-regular';
    src: url('/static/font/Montserrat/static/Montserrat-Regular.ttf');
}

body {
    background-image: url('/static/background/milad-fakurian-dark.jpg');
    background-size: cover;
    background-repeat: repeat;
    font-family: 'Montserrat-regular' !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
}

body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card {
    border-radius: 10px;
    border: 1px #7d8282;
    margin-top: 20px;
}

.card {
    color: #ffffff;
    background-color: transparent;
    border: none;
}

.card-body {
    background-color: #4b6070;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-header {
    background-color: #1b1e24;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.loading_spinner {
    margin-right: 10px;
}

.dropdown-divider {
    border-color: #7d8282;
}

.submit-button {
    background-color: #5f798d;
    border-color: #1b1e24;
    border-radius: 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
}


.submit-button:hover {
    background-color: #1b1e24;
    border-color: #4b6070;
    color: #ffffff;
}


.remove-button {
    background-color: #be1b1b;
    border-color: #eb2828;
    border-radius: 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
}

.remove-button:hover {
    background-color: #d51d1d;
    border-color: #1b1e24;
    color: #ffffff;
}


.input-text {
    background-color: #1b1e24;
    border-color: #1a2b3e;
    border-radius: 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
}


.input-text:hover {
    background-color: #5f798d;
    border-color: #1a2b3e;
    color: #ffffff;
}

.input-text:hover::placeholder {
    color: #ffffff;
}

.input-file {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
}


/* Nav Bar */
.my-navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 11%;
    min-height: 60px;
    max-height: 80px;
    z-index: 1000;
    display: flex;
    background-color: #1b1e24;
    /* light gray background */
    border-bottom: 1px solid #7d8282;
    align-items: center;
    justify-content: center;
}

.brand-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    height: 100%;
    width: fit-content;
    /* a remove */
    background-color: transparent;
    border: none;
}

.brand-background {
    display: flex;
    align-items: center;
    border: 2px solid #4b6070db;
    background-color: #f8f9fa;
    height: 70%;
    width: fit-content;
    border-radius: 30px;
    padding-right: 1%;
}

.brand {
    display: flex;
    text-decoration: none;
    font-family: 'aquire-Font', sans-serif;
    color: #4b6070db;
    font-weight: bold;
    font-size: 30px;
    margin-right: 5px;
}

.logo {
    object-fit: cover;
    height: 100%;
    width: auto;
    border-radius: 50%;
    overflow: hidden;
}

.brand:hover {
    color: #aab4b4;
    text-decoration: none;
}


.my-navbar-content {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.my-navbar-content-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.my-navbar-content-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

.my-navbar-content-switch {
    display: flex;
    align-items: center;
    margin: 0%;
    padding: 0%;
}

.my-navbar-content-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

.navbar-brand {
    padding: 0;
    /* remove default padding */
    margin-right: 10px;
    /* reduce right margin */
}

.my-nav-link {
    list-style: none;
    background: none;
    color: #aab4b4;
    text-decoration: none;
    display: flex !important;
    align-items: center !important;
    justify-content: center;
    font-weight: bold;
    height: 60%;
    width: fit-content;
    padding: 1%;
    margin-left: 5px;
    margin-right: 5px;
}

.my-nav-link-profile {
    list-style: none;
    background: none;
    border-radius: 50%;
    text-decoration: none;
    display: flex !important;
    align-items: center !important;
    justify-content: center;
    font-weight: bold;
    height: 80%;
    width: fit-content;
    padding: 1%;
    margin-left: 5px;
    margin-right: 5px;
}

.profile-image-nav {
    width: 100%;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    padding: auto;
}

.profile-image-nav:hover {
    border-color: #ffffff 2px solid;
}

.my-nav-link:hover {
    color: #1a2b3e;
    background-color: #7d8282;
    border-radius: 5px;
    text-decoration: none;
}

.my-nav-link-label {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px !important;
}

/* if small screen remove the label */
@media (max-width: 768px) {
    .my-nav-link-label {
        display: none;
    }

    .brand {
        display: none;
    }
}


.my-nav-item:hover {
    background-color: transparent;
}

.navicon {
    color: #ffffff;
    margin-right: 5% !important;
}

.icon {
    stroke: white
}


.navlabel {
    padding-left: 5%;
}

.dropdown-menu {
    background-color: #1b1e24 !important;
    border-radius: 5px;
    border-bottom-color: #7d8282;
    border-left-color: #7d8282;
    border-right-color: #7d8282;
    width: fit-content;
}

.my-navbar-content {
    height: 100%;
    width: 100%;
}

.dropdown-item {
    color: #ffffff !important;
    font-weight: bold !important;
}

.dropdown-item:hover {
    background-color: #1a2b3e !important;
    text-decoration: none;
}

.input-group.form-control {
    height: max-content;
}

.search::placeholder {
    color: #969696;
    text-align: center;
}

.navButton {
    color: #aab4b4 !important;
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 1%;
    margin: 1%;
}

.navButton:hover {
    background-color: #7d8282;
    border-radius: 5px;
}

.navLabel {
    color: #aab4b4db !important;
    font-weight: bold !important;
}

/* search bar */
.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70% !important;
    width: fit-content;
    position: relative;
}

.search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b1e24;
    color: white;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    border: #4b6070 1px solid;
}

.bot-icon-container {
    background-color: #4b6070;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.search-input {
    border: none;
    background-color: transparent;
    color: #fff;
    justify-content: center;
    align-items: center !important;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0%;
}

.send-question {
    height: 100%;
    width: auto;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #4b6070;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}

.send-question:hover {
    background-color: #566d80;
    color: #fff;
}

/* if small screen keep only the send-question for open chat*/
@media (max-width: 768px) {
    .search-form {
        display: none;
    }

    .bot-icon-container {
        display: none;
    }

    .send-question {
        display: none;
    }

    .search-input {
        display: none;
    }
}

/* end search bar */

/* Dark mode switch */
.dark-mode-switch {
    width: 50px;
    /* Adjust the width as needed */
    position: relative;
}


.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    background-color: #4b6070;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-moon {
    color: #ffeb9b;
}

.fa-sun {
    color: #f8c10b;
}

.checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox-label .ball {
    transform: translateX(24px);
}

/* end search bar */
/* end navbar */
.left-navoff-part {
    display: flex;
    align-items: center;
    margin-right: 10px;
    /* Adjust the margin to your preference */
}

.right-navoff-part {
    margin-left: auto;
    /* Push the element to the right */
    display: flex;
    align-items: center;
}

.offcanvas {
    background-color: #1a2b3e;
    /* light gray background */
    border-bottom: 1px solid #b4b4aa;
    color: #b4b4aa;
    width: 20% !important;
    /* width */
    width: fit-content;
    min-width: 100px !important;
    max-width: 300px !important;
}

.offcanvas-close {
    background-color: transparent;
    border: none;
}

.offcanvas-close-icon {
    color: #fff;
}

.offcanvas-title {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    border-color: #1b1e24 2px solid;
    border-radius: 20px;
}

.offcanvas-header {
    height: 10%;
    background-color: #4b6070;
}

.offcanvas-body {
    background-color: #1b1e24;
    /* light gray background */
}

.my-nav-link-off {
    color: #d7dad4 !important;
    display: flex;
    align-items: center;
    font-weight: bold;
    padding-top: 2%;
    padding-left: 10%;
}

.my-nav-link-off:hover {
    color: #d7dad4;
    background-color: #7d8282;
    border-radius: 5px;
    text-decoration: none;
}

.nav-pills li {
    line-height: 1;
}

.nav-pills li a {
    color: #d7dad4;
    font-weight: bold;
}



/* end of navbar */
.offcanvas-header {
    background-color: #1a2b3e;
    /* light gray background */
    border-bottom: 1px solid #7d8282;
    color: #d7dad4;
    max-height: 20% !important;
}

.profile-image {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-image-nav {
    height: 100%;
    width: auto;
    border-radius: 50%;
    overflow: hidden;
    padding: auto;
}

.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.input {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.alert {
    margin-top: 5px;
    font-size: 14px;
}

.invalid {
    color: red;
    font-weight: bold;
}

.password-strength-indicator {
    font-weight: bold;
    margin-top: 5px;
}

.very-weak {
    color: red;
}

.weak {
    color: orange;
}

.moderate {
    color: yellowgreen;
}

.strong {
    color: green;
}

.username-indicator.invalid {
    color: red;
    font-weight: bold;
}

.email-indicator.invalid {
    color: red;
    font-weight: bold;
}

.alert_container {
    z-index: 9999;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    margin-right: 2%;
    margin-top: 7%;
}

.chat-container {
    margin-top: 10% !important;
    background-color: #1b1e24;
    border: 1px solid #7d8282;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.878);
    padding: 15px;
    max-width: 500px;
    margin: 0 auto;
    z-index: 99999999999 !important;
}

.spinner_9y7u {
    animation: spinner_fUkk 2.4s linear infinite;
    animation-delay: -2.4s
}

.spinner_DF2s {
    animation-delay: -1.6s
}

.spinner_q27e {
    animation-delay: -.8s
}

@keyframes spinner_fUkk {
    8.33% {
        x: 13px;
        y: 1px
    }

    25% {
        x: 13px;
        y: 1px
    }

    33.3% {
        x: 13px;
        y: 13px
    }

    50% {
        x: 13px;
        y: 13px
    }

    58.33% {
        x: 1px;
        y: 13px
    }

    75% {
        x: 1px;
        y: 13px
    }

    83.33% {
        x: 1px;
        y: 1px
    }
}


/* modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 99999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    border: #7d8282;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.chat-form {
    padding-top: 15px;
}

.chat-message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
    word-wrap: break-word;
    clear: both;
}

.chat-text {
    height: 300px;
    /* Set a fixed height for the container */
    overflow-y: auto;
    /* Enable vertical scrolling */
}

.user {
    background-color: #4b6070db;
    color: #fff;
    float: right;
}

.bot {
    background-color: #E6E6E6;
    float: left;
    color: #1b1e24
}

.resume-container {
    position: relative;
    width: 80vh;
    height: 80vh;
    margin: 50px auto;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10%;
}

.resume {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.download-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.download-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4b6070db;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.download-btn:hover {
    background-color: #4b6070;
    color: #fff;
    text-decoration: none;
}

.weather-widget {
    position: fixed;
    top: 12%;
    right: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}

.current-weather {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #1b1e24ab;
    border: 1px solid #7d8282;
    border-radius: 5px;
    padding: 5%;
}

.weather-icon img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.weather-info {
    margin-right: 1%;
}

#city-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 10%;
}

#temperature {
    font-size: 18px;
}

.forecast {
    display: none;
    background-color: #1b1e24ab;
    border: 1px solid #7d8282;
    border-radius: 5px;
    padding: 5%;
    margin-right: 1%;
    margin-top: 1%;
    max-height: 300px;
    /* set a maximum height for the element */
    overflow-y: auto;
    /* enable vertical scrolling */
}

.forecast-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 1%;
}

.forecast-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.forecast-item .date {
    font-size: 16px;
    font-weight: bold;
}

.forecast-item .temp {
    font-size: 16px;
}

.my-carousel-caption {
    position: absolute;
    bottom: 20px;
    width: 80%;
    left: 0;
    right: 0;
    margin-right: 10%;
    margin-left: 10%;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    color: #fff;
    text-align: center;
    transition: opacity 0.3s ease;
}

.my-carousel-caption:hover {
    opacity: 0.8;
}

.my-carousel-caption .carousel-project-title {
    position: relative;
}

.my-carousel-caption .title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.my-carousel-caption .title-wrapper h5.title {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.my-carousel-caption .carousel-description {
    margin-top: 10px;
}

.my-carousel-caption .carousel-description p {
    margin: 0;
    font-size: 14px;
}

.carousel_div {
    position: relative;
    width: 50%;
    /* or any other desired width */
    height: 60%;
    /* or any other desired height */
    overflow: hidden;
    margin: 0 auto;
    /* this will center the element horizontally */
}

.carousel {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.551);
    border-radius: 20px;
}


.btn-primary {
    background-color: #4b6070 !important;
    border-color: #969696 !important;
}

.type {
    color: #f1f1f1;
    background:
        linear-gradient(-90deg, #000000 5px, #0000 0) 10px 0,
        linear-gradient(#000000 0 0) 0 0;
    background-size: calc(var(--n)*1ch) 200%;
    -webkit-background-clip: padding-box, text;
    background-clip: padding-box, text;
    background-repeat: no-repeat;
    animation:
        b .7s infinite steps(1),
        t calc(var(--n)*.1s) steps(var(--n)) forwards;
}

@keyframes t {
    from {
        background-size: 0 200%
    }
}

@keyframes b {
    50% {
        background-position: 0 -100%, 0 0
    }
}

/* project page */
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-item img {
    height: 500px;
    object-fit: cover;
}

.carousel-description {
    max-height: calc(500px / 3);
    overflow-y: scroll;
}

.title {
    margin-right: 1%;
}

.project-carousel {
    height: 500px;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sommaire-container {
    background-color: #7d8282;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: fit-content;
    margin: 20px;
}

.sommaire-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.sommaire ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sommaire li {
    margin-bottom: 5px;
}

.sommaire a {
    text-decoration: none;
    color: #333;
}

.sommaire a:hover {
    text-decoration: underline;
}

.description-container {
    margin: 20px;
}

.project-description-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.project-description {
    font-size: 16px;
    line-height: 1.5;
}

.gallery-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}

.gallery-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    margin: auto;
    margin-top: 5%;
    padding: 10px;
    margin-bottom: 5%;
    border-radius: 10px;
    background-color: #4b6070db;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.878);
}

.mySlides {
    display: none;
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

.slide-image {
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.slide-video {
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.cursor {
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 10px 10px 0;
    user-select: none;
    -webkit-user-select: none;
    background-color: rgba(0, 0, 0, 0.4);
}

.next {
    right: 10px;
    border-radius: 10px 0 0 10px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 1);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: auto;
    margin-right: auto;
}

.caption-container {
    background-color: #222;
    padding: 2px 16px;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    transition: all 0.3s ease;
}


.caption {
    display: block;
    /* Add any additional styling properties as needed */
}

/* Add the following CSS to adjust the container size based on caption text size */
.caption-container.auto-resize {
    width: fit-content;
    white-space: nowrap;
}

/* Add the following CSS for the rounded effect */
.caption-container.rounded {
    border-radius: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.thumbnail-container .row {
    display: flex;
    flex-wrap: wrap;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

@media (max-width: 600px) {
    .column {
        width: 25%;
    }
}

.thumbnail-container {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
    max-height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.thumbnail-wrapper {
    flex: 0 0 calc(100% / 6);
    /* Adjust the number of images per row here */
    height: 150px;
    margin-right: 10px;
    align-items: center;
    overflow: hidden;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 10px;
}

.thumbnail-wrapper img {
    width: auto;
    height: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.section-divider {
    border-top: 2px solid #fff;
    margin-left: 5%;
    margin-right: 5%;
}

.carousel-video-container {
    position: relative;
    width: 80%;
    max-width: 800px;
    overflow: hidden;
    margin: auto;
    margin-top: 5%;
    padding: 10px;
    margin-bottom: 5%;
    border-radius: 10px;
    background-color: #4b6070db;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.878);

}

.carousel-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}

.project-part {
    margin-top: 30px;

}

.project-part-title {
    margin-bottom: 10px;
}

.project-part-description {
    margin-bottom: 20px;
}

.project-part-conclusion {
    margin-top: 20px;
}

.project-part-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.code-language-label {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #969696;
    padding: 2px 5px;
    border-bottom-right-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    z-index: 50;
}

.project-part-code {
    position: relative;
    padding: 10px;
    width: 100%;
    border-width: 3px;
    border-style: solid;
    border-color: #969696;
    border-radius: 5px;
    margin-bottom: 20px;
    overflow-x: auto;
}

/* .project-part-code pre {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
    color: #f1f1f1;
    position: relative;
    z-index: 1;
    margin-bottom: 0;
}

.project-part-code code {
    white-space: pre;
    font-family: Consolas, Monaco, 'Courier New', Courier, monospace;
    display: inline;
    padding: 0;
    border: none;
    background: none;
    font-size: inherit;
    line-height: inherit;
}

.project-part-code pre[class*="language-"] {
    background-color: #f5f5f5;
} */

.copy-btn {
    position: absolute;
    z-index: 2;
    /* Position the button within the code block */
    top: 0px;
    /* Adjust the top position as needed */
    right: 0px;
    /* Adjust the right position as needed */
    background-color: #969696;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
}

.copy-btn:hover {
    background-color: #555;
}

.conclusion-container {
    margin-top: 30px;
}

.project-container {
    margin-top: 10%;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
}

.project {
    border: 3px solid #969696;
    border-radius: 20px;
    background-color: #1b1e24;
    padding: 20px;
    margin-bottom: 20px;
    width: 99%;
    margin-top: 40%;
}
.projectView {
    border: 3px solid #969696;
    border-radius: 20px;
    background-color: #1b1e24;
    padding: 20px;
    margin-bottom: 20px;
    width: 99%;
    margin-top: 5%;
}

.project-image-container {
    width: 30%;
    height: 10%;
    overflow: hidden;
}

.project-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.project-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    padding: 20px;
    background-color: #4b6070;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.878);
}

.project-image-container {
    flex: 1;
    margin-right: 20px;
}

.project-image-container img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.project-details {
    flex: 2;
}

.project-detail {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.project-detail-label {
    font-weight: bold;
    margin-right: 5px;
}

.project-info {
    flex: 1;
    text-align: right;
}

.project-header h2 {
    text-align: center;
    margin-top: 0;
}

/* add project */
.container {
    position: relative;
    top: 100px;
    width: 100%;
    height: 100%;
}

.container-project {
    position: relative;
    top: 11%;
    width: 100%;
    height: 100%;
}

.main_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5%;
    height: 100%;
    width: 100%;
}

.main_container_addProject {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10%;
    height: 100%;
    width: 100%;
}


.addproject-container {
    width: fit-content;
    height: fit-content;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: transparent;
}

.project-form {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #4b6070;
    border-radius: 10px;
    box-sizing: border-box;
    color: #f1f1f1;
}

label {
    display: block;
    margin-bottom: 5px;
}

.collapsible {
    background-color: #4b6070db;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

}

.collapsible:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #5f798d;
}

.project-form-mainImage {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 20px;
    padding-right: 20px;
    border-radius: 10px;
    background-color: #1b1e24;
}

.project-image-container {
    width: 30%;
    height: auto;
    overflow: hidden;
    margin-right: 10px;
}

.project-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.project-form-mainImage-input {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.title-div {
    margin-bottom: 20px;
}

.git-div {
    margin-bottom: 20px;
}

.select-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.select-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.team-size-select {
    width: fit-content;
}

.description-div {
    text-align: center;
    margin-bottom: 20px;
}

.conclusion-div {
    text-align: center;
    margin-bottom: 20px;
}

.description-div label {
    display: block;
}

.text-aera {
    width: 100%;
    height: 150px;
    background-color: #1b1e24;
    color: #f1f1f1;
    padding: 10px;
    border: 1px solid #1a2b3e;
    border-radius: 5px;
    resize: vertical;
}


.media-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.media-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.create-parts-group {
    display: flex;
    justify-content: start;
    align-items: flex-end;
    margin-bottom: 20px;
}

.create-parts-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 20px;
}

.create-parts-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1b1e24;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-parts-button:hover {
    background-color: #5f798d;
}

.create-parts-button i {
    margin-right: 5px;
}

.code-div {
    margin-bottom: 20px;
    margin-top: 20px;
}

.part .content {
    height: fit-content;
}

.parts-container {
    margin-bottom: 15px;
}

.part {
    background-color: #5f798d;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: #1b1e24 1px solid;
    margin-bottom: 5px;
}


.buttons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}

.remove-part-button,
.add-part-button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.remove-part-button:hover,
.add-part-button:hover {
    background-color: #555;
}

/* end add project */

/* start admin page */

.checkDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.checkDiv label {
    font-size: 12px;
    margin-bottom: 5px;
}

.checkDiv input[type="checkbox"] {
    align-self: flex-end;
}

.pills-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}

.admin-menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.admin-menu-button i {
    margin-right: 10px;
    color: #f1f1f1;
}

.admin-menu-label {
    font-size: 14px;
    margin-top: 8px;
    color: #f1f1f1;
}

.admin-menu-button:hover {
    background-color: #1b1e24;
    border-radius: 10px;
}

.reorder-container {
    background-color: #1b1e24;
}

/* end admin page */

.filter-container {
    width: 100%;
    height: fit-content;
    background-color: #1b1e24;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.add-button-admin-div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hobbies {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.admin-add-button {
    background-color: #3a3a3a;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}

.admin-add-button:hover {
    background-color: #444;
}

.fa-plus {
    vertical-align: middle;
}

.contact-admin-div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.about-me-admin-div {
    flex: 1 1 300px;
    margin-bottom: 20px;
}

.about-me-content-title {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

.remove-testimonial {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -5px;
    right: -5px;
    border-radius: 50%;
    background-color: #ff0000;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}

.about-me-testimonial:hover .remove-testimonial {
    display: flex;
}

.about-me-testimonial:hover {
    border: 1px solid #f1f1f1;
}


.remove-pills {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -5px;
    right: -5px;
    border-radius: 50%;
    background-color: #ff0000;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}

.pills {
    position: relative;
    height: fit-content;
    width: fit-content;
    text-align: center;
    padding: 10px;
    background-color: #4b6070;
    color: #f5f5f5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #3c4e5e;
}

.pills-highlights {
    height: fit-content;
    width: fit-content;
    text-align: center;
    padding: 10px;
    background-color: #d95e31;
    color: #f5f5f5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.pills-highlights:hover {
    background-color: #d95e31;
    border: 1px solid #f5f5f5;
}

.pills:hover {
    background-color: #3c4e5e;
    border: 1px solid #f5f5f5;
}

.pills:hover .remove-pills {
    display: flex;
}



.card-admin {
    width: fit-content;
    height: 90%;
    background-color: #3c4e5e;
    border-radius: 10px;
}

.scrollable-card-body {
    max-height: 87%;
    /* Set the maximum height for the scrollable area */
    overflow-y: auto;
    /* Enable vertical scrolling */
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.main_container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;

}

.admin-left-div {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    background-color: #3c4e5e;
    color: #f1f1f1;
    border-radius: 10px;
    padding: 20px;
    width: fit-content;
    overflow-y: auto;
    margin-top: 20px;
    margin-left: 20px;
}

.admin-right-div {
    flex: 1 1 auto;
    margin-top: 20px;
    height: 100%;
    width: 90%;
}

.exit-div {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: fit-content;
    margin-top: 20px;
}

.admin-card {
    display: none;
    width: 80%;
}

.admin-card.show {
    display: block;
}

/* resume page */

.body-noscroll {
    overflow: hidden;
}

.dot {
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #000;
    border-radius: 50%;
    margin-right: 4px;
}

.about-me-sommaire-content {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.about-me-sommaire-content a {
    color: #f1f1f1;
    text-decoration: none;
    margin-bottom: 5px;

}

.about-me-sommaire-content a:hover {
    color: #666;
}

.about-me-testimonials {
    margin-bottom: 20px;

}


.about-me-content-title-pils {
    font-weight: bold;
    margin: 0;
}

.about-me-testimonials-container {
    display: flex;
    flex-direction: column;
}

.about-me-testimonial {
    position: relative;
    background-color: #1b1e24;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.about-me-testimonial-content {
    margin-bottom: 5px;
}

.about-me-testimonial-author {
    font-style: italic;
    color: #888888;
}

.about-me-content-text {
    line-height: 1.4;
    margin: 0;
}

.about-me-content-title-text {
    line-height: 1.4;
    margin: 0;
    margin-left: 10px;
}

.about-me-target_job {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}


.aboutme-right-div {
    width: 300px;
    margin: 20px;

}

.aboutme-left-div {
    flex: 1;
    background-color: #1a2b3e;
    border-radius: 10px;
    height: 80%;
    overflow: auto;
    overflow-x: hidden;
    margin: 20px;
    padding-bottom: 40px;
}

.resume-toggle-container {
    z-index: 999;
}

.main_container_resume {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 15%;
    height: 100%;
    width: 100%;
}

.main_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5%;
    height: 100%;
    width: 100%;
}

.aboutme-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.about-me-title-container {
    width: 100%;
    height: 100px;
    background-color: #4b6070;
    border-radius: 15px;
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.about-me-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0;
}

.fa-solid.fa-magnifying-glass {
    margin-left: 10px;
}


.about-me-header {
    width: 80%;
    margin-top: 15px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.about-me-sommaire {
    width: 20%;
    border: 1px solid #4b6070;
    border-radius: 4px;
    padding: 10px;
    background-color: #1b1e24;
}

.about-me-sommaire .about-me-sommaire-header {
    background-color: #4b6070;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.aboutme-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
}

.about-me-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.about-me-sommaire .about-me-content-title {
    font-weight: bold;
}

.about-me-target_job {
    margin-bottom: 40px;
}

.pills {
    height: fit-content;
    width: fit-content;
    text-align: center;
    padding: 10px;
    background-color: #4b6070;
    color: #f5f5f5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.pills-highlights {
    height: fit-content;
    width: fit-content;
    text-align: center;
    padding: 10px;
    background-color: #d95e31;
    color: #f5f5f5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.pills-highlights:hover {
    background-color: #d95e31;
    border: 1px solid #f5f5f5;
}

.about-me-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 5%;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.about-me-personeal-info {
    margin-left: 30px;
    width: fit-content;
}

.resume-container {
    position: absolute;
    top: 35px;
    /* Adjust the top position as needed */
    right: 20px;
    width: 300px;
    height: 430px;
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.3s ease;
    z-index: 999;
}

.collapsed-resume {
    height: 0;
}

.toggle-button {
    background-color: #4b6070;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    cursor: pointer;
}

.resume {
    width: 100%;
    height: 100%;
}

.download-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.download-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4b6070db;
    color: #fff;
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.download-btn:hover {
    background-color: #4b6070;
    color: #fff;
    text-decoration: none;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: auto;
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #1b1e24;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-title-container {
    text-align: center;
    margin-bottom: 10px;
}

.contact-title {
    font-size: 24px;
    color: #f1f1f1;
}

.contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-content-title {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.contact-content-text {
    margin-top: 5px;
}

.contact-content-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toggle-button-skill {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #4b6070;
    background-color: #4b6070;
    color: #000000;
    padding: 5px 10px;
    border-radius: 5px;
    width: 350px;
    height: 40px;
    cursor: pointer;
}

.button-text {
    flex: 1;
    text-align: center;
}

.button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
}

.hards-skills-container-content {
    padding: 20px;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.hards-skills-container-content.collapsed-resume {
    display: none;
}

.pills-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}

.hards-skills-container {
    /* margin-top: 20px; */
}

.about-me-content-title {
    font-weight: bold;
    margin-bottom: 10px;

}

.about-me-content-title-text {
    line-height: 1.4;
    margin: 0;
    margin-left: 10px;
}

.about-me-content-div {
    width: 80%;
    margin-bottom: 40px;
    margin-top: 50px;
}

.about-me-picture-img {
    width: 600px;
    height: auto;
    margin-left: 50px;
    border-radius: 20px;
}

/* end resume page */

.project-link-button {
    position: absolute;
    top: 10px;
    right: 5px;
    margin: 10px;
    z-index: 9999;
    padding: 5px;
    border-radius: 5px;
    background-color: #040404b9;
    color: white;
}

.project-type-label {
    position: absolute;
    top: 50px;
    left: 5px;
    margin: 10px;
    z-index: 9999;
    padding: 5px;
    border-radius: 5px;
    background-color: #040404b9;
    color: white;
}

.project-date-label {
    position: absolute;
    top: 10px;
    left: 5px;
    margin: 10px;
    z-index: 9999;
    padding: 5px;
    border-radius: 5px;
    background-color: #040404b9;
    color: white;
}

/* editproject filter */

.edit-Project-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

.filter-container {
    width: 100%;
    height: fit-content;
    background-color: #7d8282;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.filter-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter-body {
    width: 100%;
    display: flex;
    height: fit-content;
}

.filter-body .input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
    margin-left: 20px;
    margin-right: 20px;
    white-space: nowrap;
}

.filter-body .input-group-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
}

.checkbox-label {
    white-space: nowrap;
    margin-right: 10px;
    margin-top: 10px;
}

/* Style for search-byname input */
.search-byname {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 200px;
}

/* Style for filter-select selects */
.filter-select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 200px;
}

/* Style for filter-checkbox checkbox */
.filter-checkbox {
    margin-right: 5px;
}

/* Style for filter-submit submit button */
.filter-submit {
    padding: 8px 16px;
    background-color: #4b6070;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

/* Hover effect for filter-submit button */
.filter-submit:hover {
    background-color: #5d778b;
}

/* end editproject filter */
.backButton {
    top: 10px;
    left: 20px;
}
.project-container-projectView {
    margin-top: 1%;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
}
